* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A1A1A; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #aaa;
  margin-bottom: 2vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.container {
  background-color: #1F1F1F;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 500px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #aaa;
}

#status {
  font-size: 18px;
  font-weight: bold;
  color: #ff5733;
}

#timer {
  font-size: 72px;
  margin-bottom: 20px;
  color: #aaa;
  font-weight: bold;
}

.settings, .todobox {
  margin-bottom: 20px;
}

.settings label {
  color: #aaa;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.settings input {
  width: 60%;
  padding: 8px;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #1F1F1F;
}

.todobox input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #1F1F1F;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

button:hover {
  background-color: #218838;
}

.no-marker {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.no-marker li {
  padding: 5px 0; 
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.todo-item {
  display: flex; 
  gap: 4px;
  justify-content: space-between; 
  align-items: center; 
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.task-label {
  flex: 1; 
  text-align: left; 
  padding-right: 10px; 
}

.completed {
  color: #2f2F2F;
  text-decoration: line-through;
}